h1 {
  color: rgb(108, 212, 34);
  font-size: 4em;
}

body {
  background-color: black;
}

p{
  font-size: 1.5em;
  color: white;
  text-align: center;
}

h2{
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  margin: 0%;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  
}


form input, form textarea{
  border: 0;
  margin-bottom: 20px;
  width: 50%;
  padding: 20px;
  outline: none;
  background: #333;
  color: white;
}

form button{
  padding: 15px;
  border-color: white;
  color: black;
  border: 0;
  outline:5px ;
  width: 150px;
  margin: 20px auto 0;
  cursor: pointer;
}

.slide{
  margin: 0;
  height: 100%;
  width: 90%;
  text-align: center;
  color: white;
}

.links {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.links a{
  text-decoration: none;
}

.links a:hover{
  text-decoration: underline;
  text-decoration-color: white ;
}


.slide img{
  width: 50%;
}

.s1 div {
  display: flex;
  flex-direction: column;
}

.lang{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.lang img{
  height: 150px;
  width: 150px;
  filter: grayscale(100%);
  transition: transform .2s;
  padding-bottom: 10px;

}

.lang img:hover{
  filter: brightness(100%);
  transform:scale(1.2);
}

.s5 div {
  display: flex;
  flex-direction: column;
}